html {
  background-color: #faecc9;
  font-family: sans-serif;
  color: #282119;
}

html.dark {
  background-color: #414234;
  color: #d4c29e;
}

.dark .nav-links a {
  color: #faecc9;
}

.dark a:visited,
.dark a:hover,
.dark a:active {
  text-decoration: none;
  color: #bfd7ea;
}
.dark div.tags > p.tag > a,
.dark div.tags > p.tag > a:visited {
  text-decoration: none;
  color: #574a40;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #8a4e26;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #c97338;
}

.nav-links a:hover,
.nav-links a:focus {
  color: #8a4e26;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
